@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Spectral:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
.navBar {
  display: flex;
  background-color: #ffc017;
  border-bottom: 1px solid #191919;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  margin: auto;
  padding-inline: 5%;
  padding-block: 1.5%;
  align-items: baseline;
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 3;
}
.logoMedium {
  flex-grow: 1;
  cursor: pointer;
}
.navMenu li {
  display: inline-block;
  margin-left: 25px;
  cursor: pointer;
}
.navMenu li a {
  color: #191919;
  text-decoration: none;
}
.navButton {
  margin-inline: 1%;
  padding: 0.8%;
  background-color: #191919;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.navButton:hover {
  background-color: #1a8917;
}
.header {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #ffc017;
  justify-content: space-between;
  padding-left: 5%;
  border-bottom: 1px solid #191919;
}
.mainHeader {
  display: flex;
  flex-direction: column;
  padding: 93px 0px 92px;
}
.mainHeader h1 {
  font-size: 6rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
}
.mainHeader h3 {
  padding-block: 2rem;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: #191919;
}
.mainHeader button {
  margin: 1%;
  padding: 1%;
  background-color: #191919;
  border-radius: 20px;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  width: 40%;
}
.mAnimation {
  position: absolute;
  bottom: -21px;
  right: 0;
}

/* Fine Header */

.trendingSection {
  margin-top: 3%;
  padding-inline: 6%;
}
.trendTitle {
  display: flex;
  align-items: center;
}
.trendTitle img {
  vertical-align: middle;
  margin-right: 1%;
}
.trendTitle h2 {
  justify-content: flex-start;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}
.trendingPost {
  margin-top: 1.5%;
  display: flex;
  flex-wrap: wrap;
}
.singlePost {
  display: flex;
  margin-bottom: 2%;
  width: 33%;
}
.trendingPostBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.trendingPostBody h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-block: 1.5%;
}

.trendingPostTitle {
  display: flex;
}
.trendingPostTitle img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-right: 3%;
}
.trendingPostTitle h4 {
  margin-block: 1%;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
}
.numberOfPost {
  font-size: 2rem;
  font-weight: 500;
  color: #f2f2f2;
  margin-inline: 1%;
}
.trendingPostFooter {
  display: flex;
  color: gray;
}
/* Fine trending section */
/* Inizio article section */
.articleSection {
  display: flex;
  padding: 6%;
}
.articleCont {
  column-gap: 20px;
}
.article {
  display: flex;
}
.articleAuthor {
  display: flex;
}
.articleAuthor img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-right: 3%;
}
.articleBody h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-block: 1.5%;
  font-size: 1.3rem;
}
.articleBody h3 {
  color: #6b6b6b;
  font-family: "Roboto", sans-serif;
  margin-block: 1.5%;
  font-size: 1.1rem;
  width: 500px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.articleFooter {
  display: flex;
  color: #6b6b6b;
  font-family: "Roboto", sans-serif;
  margin-block: 4%;
}
.grow {
  flex-grow: 1;
}
.foto {
  width: 170px;
  height: 150px;
  margin-inline: 1.5%;
}
.aside {
  margin-left: 6%;
}
.asideTitle h2 {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 1.5%;
  margin-bottom: 4%;
}
.asideBox {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 8%;
}
.boxDiscoverMore {
  width: fit-content;
  border: 1px solid #6b6b6b;
  padding: 10px;
  color: #6b6b6b;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
}
.moreTag {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 8%;
  font-family: "Roboto", sans-serif;
}
.moreTag div a {
  text-decoration: none;
  color: #6b6b6b;
}
